/* Created by: Stella S
* Created on: May 2022
* This CSS file defines the style for index.html
* Unit4-04-PHP-Museum
*/

body {
	background-color: PapayaWhip
}

h1 {
  background-color: rgb(222, 184, 135);
}

form {
  background-color: rgb(222, 184, 135); 
}

label {
  background-color: rgb(255, 228, 196)
}

iframe {
  background-color: rgb(255, 228, 196)
}